<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HELLO WORLD</title>
</head>
<body>
    <h1><%= title %></h1>
    <h3><%= subtitle %></h3>
    <% if (people.length) {
        %><ul>
          <% people.forEach((people) => {
            %>
              <li><%= people.firstname + ' ' + people.lastname %></li>
            <%
          }) %>
        </ul><%
      } %>
</body>
</html>